
*{
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}


body {
    background-color: #1B2634;
    color:#eee;
  }
  .app {
    padding-top: 130px;
    padding-bottom: 70px;
    min-height: 100vh;
    color: white;
  }

  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }

  .page-title {
   display : flex;
   justify-content: center;
    text-align: center;
    font-size:4vw;
    border-radius: 50px;
    
  }